# Python
venv/
backend/venv/
__pycache__/
*.pyc
.env

# React
node_modules/
frontend/timesheets-repo/node_modules/

# VS Code
.vscode/

# JetBrains IDE
.idea/

# Local database
backend/db.sqlite3

.env
backend/.env.mcp.json
